<nav class="flex justify-between p-4 bg-purple-900 text-white">
    <div>
        <a routerLink="/">Bookshop</a>
    </div>
    <div>
        <ng-container *ngIf="!isAuthenticated(); else authenticated">
            <a class="mx-4" routerLink="/login">Login</a>
            <a class="mx-4" routerLink="/register">Register</a>
        </ng-container>
        <ng-template #authenticated>
            <a class="mx-4" routerLink="/carts">My Carts</a>
            <a class="mx-4" (click)="logOut()">Logout</a>
        </ng-template>
    </div>
</nav>

<div class="container p-4">
    <router-outlet></router-outlet>
</div>