/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:disabled{
    cursor: not-allowed;
}

input.ng-invalid.ng-touched, 
textarea.ng-invalid.ng-touched{
    border: 1px solid red;
}

input.ng-valid, 
textarea.ng-valid{
    border: 1px solid green;
}

small.error{
    color: red;
}